.block {
    display: block;
    height: 13%; 
    width: 100%;
    cursor: pointer;
    text-align: center;
  }

.content {
    flex-direction: row; 
    display: flex;
}

.content > div {
    display: flex; 
    flex: 1; 
    align-content: center; 
    justify-content: center;
}
.table-data *{
    border: 1px solid black;
}

.table-data th{
    background-color: rgb(177, 177, 177);
    color: #000000;
}

.table-data td{
    background-color: #ffffff;
}

.table-data td:hover{
    background-color: #000000;
    color: white;
}

footer > p {
    text-align: end;
}